<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.benben.mall" >

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />


    <application
        android:name="qfpay.wxshop.WxShopApplication_"
        android:allowBackup="true"
        android:allowClearUserData="false"
        android:icon="@drawable/icon"
        android:killAfterRestore="true"
        android:hardwareAccelerated="true"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:logo="@drawable/icon"
        android:persistent="true"
        android:theme="@style/Theme.AppCompat"
        tools:replace="android:icon" >


        <!--<activity-->
            <!--android:name="com.wang.avi.sample.SampleActivity"-->
            <!--android:theme="@style/Theme.AppCompat"-->
            <!--android:label="@string/app_name" >-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        <!--</activity>-->
        <activity android:name="com.wang.avi.sample.IndicatorActivity"/>
        <!-- Activity -->
        <!-- 欢迎页 -->
        <activity
            android:name="qfpay.wxshop.ui.main.WelcomeActivity_"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:taskAffinity="qfpay.wxshop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 主界面(Tab) -->
        <activity
            android:name="qfpay.wxshop.ui.main.MainActivity_"
            android:configChanges="keyboardHidden|orientation"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat"
            android:windowSoftInputMode="adjustNothing" />
        <!--android:theme="@style/Theme.PageIndicatorDefaults"-->
        <!-- 所有无需特殊处理的页面的WebView包装 -->


        <!--引导滑屏页面-->
        <activity
            android:name="qfpay.wxshop.ui.main.NewIntroductionActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat" >
        </activity>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="BANLI" />
        <meta-data
            android:name="FIRST_LAUNCHER"
            android:value="${isFirstLauncher}" />

        <meta-data
            android:name="app_name"
            android:value="banli" />


    </application>

</manifest>